*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 70px;
}


nav{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;

}
.nav-bar > ul{
    display: flex;
    list-style: none;
}
ul li{
    margin-right: 20px;
}
li a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
/* start section  */
.start-container{
    display: flex;
    justify-content: space-between;
    background-image: url("../media/circle\ backgroung.webp");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.profile img{
    width: 70%;
    padding-top: 40px;
    
}
.start-head{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0px;
}
.start-des{
    max-width: 450px;
    font-weight: bold;

}
.start-p{
    margin-top: 0px;
    margin-bottom: 15px;
}
.btn-primary{
    background-color: rgb(196, 7, 139);
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
}
.sponsor-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

}
.company img{
    width: 70px;
}
.collection-head{
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
}
.box{
    background-color: white;
    border-radius: 5px;
    padding: 11px;
    border: none;
    box-shadow: 0px 0px 5px;
    
}
/* .img-box{
    max-width:100%;
    max-height:50%;

} */
/* .img-box img{
    width: 100%;
} */
.box>img{
    width: 100%;
    border-radius: 5px;
}
.rating{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    
}
.rating img{
    width: 80px;
    height: 30px;
    margin-right: 10px;
    margin-top: 0px;
}
.rating-p{
    
}
.box-h{
    font-size: 1.8rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
.box-price{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}
.box-p{
    margin-top: 0px;
    padding-top:0px ;
    font-size: 1.2rem;
    max-width: 200px;

}
.collection-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
}





/* responsive for mobile device */
@media screen and (max-width:576px) {
    body{
        margin: 20px;
    }
    nav{
        flex-direction: column;
        text-align:center;
        
    }
    .start-container{
        flex-direction:column-reverse;
        background-position: top;
    }
    .profile{
        
        width: 390px;
        margin-top: 30px;
        text-align:start;
    }
    .profile img{
        margin-left: 0px;
        padding-left: 0px;
    }
    .start-des{
        text-align: center;
    }
    .start-head{
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 0px;
    }
    .btn-primary{
        background-color: rgb(196, 7, 139);
        color: white;
        font-size: 1.4rem;
        padding: 10px 30px;
        border-radius: 15px;
    }
    .sponsor-container{
        gap: 20px;
        margin-top: 50px;
        max-width: 400px;
        flex-wrap: wrap;
    }
    .collection-container{
        grid-template-columns: repeat(1,1fr);
    }

    
}




/* responsive for tablate */
.profile img{
    width: 60%;
    margin-left: 100px;
    margin-top: 0px;
}